@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
}

  
@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #menu-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .hero, .section__pic-container  {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    .section__text {
      margin: 0 auto 2rem;
    }
    .up{
      right: -95%;
    }
    #menu-nav{
      scroll-snap-align: start;
    }
}
  
@media screen and (max-width: 600px) {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
}
  footer{
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin: 10px 0;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  #contacto-formulario{
    display: flex;
    width: auto;
    position: relative;
    min-width: 300px;
  }
  #contacto-formulario textarea, #contacto-formulario h4 {    
  display: none;
  }

  /* Apply max-width to all inputs except those with id "button" or type "submit" */
  input:not(#button):not([type="submit"]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: auto;
  } 

  footer {
    width: 100%;
    text-align: center;
  }

  footer .nav_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    text-align: center;
    list-style: none;
    padding: 0;
  }

  section {
    margin-top: 1.5rem;
  }

  article {
    font-size: 1rem;
  }
  .contact-container form #lastName,
  .contact-container form #mobile {
    margin-left: 10px;
  }
    .about-containers,
    .contact-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-container {
      margin: 0;
      max-width: 100%;
    }
    .contact-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .hero, .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    .section__pic-container {
      margin-top: 5rem;
    }
    .up{
      right: -90%;
    }
    #menu-nav{
      scroll-snap-align: start;
    }
  }
